* {
  margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   font-family: Arial, Helvetica, sans-serif;
    
}
header{
   background-color: rgb(80, 55, 1);
    padding: 60px;
    text-align: center;
    color: rgba(247, 200, 131, 0.575);
    font-weight: bold;  
}  

nav{
   display: flex; 
   background-color: rgb(250, 223, 205);
   justify-content: center;
}

 nav a{
   color: rgb(250, 110, 110);  
   padding: 15px;
   text-decoration: none;
   text-align: center;
   width: 200px;
 }

 nav a:hover{
  background-color: rgba(252, 133, 54, 0.445);
  color: rgb(206, 126, 99);
 }

 #row{
   display: flex;
   flex-wrap: wrap;
   background-color: rgb(224, 213, 198);
 }
 
 img{
   background-color: rgb(30, 210, 171);
   width: 80%;
   margin-bottom: 40px;
   border-radius: 45%;
   
 }

aside{
   width: 30%; 
   background-color:#9e8266 ;
   padding: 40px;
   bottom: 60%;
   border-image: auto;



}

main{
   width: 70%;
   padding: 50px; 
}
article {
   box-shadow:#b9b9b9 ;
   padding: 10px;
   border-radius: 40px;
   width: 70%;
   border: 5px solid #a8a39d;


   
}
h1{
   color: #978f84;
}

h2{
   font-style: oblique;
   color: rgb(196, 142, 71);
   text-align: center;
}
footer{
   background-color: rgb(80, 55, 1);
   width: 100%;
   padding: 20px;
   color: white;
   text-align: center;
}

h3{
   text-align: center;
   color: #c97e37;

}
